---
import App from "src/layouts/App";
import Document from "src/layouts/Document.astro";
const path = Astro.url.pathname;
---

<Document>
  <App path={path} client:load>
    <h1 class="flex">Currently migrating to AWS bare with me...</h1>
  </App>
</Document>
