---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta
      name="description"
      content="A Performance focused Web Developer specialising in eCommerce. A User Behaviour focued Web Designer, specialising in Conversion Rate Optimisation."
    />
    <meta
      name="keywords"
      content="contract web developer, website designer, freelance, digital marketing"
    />
    <meta name="author" content="Daniel Keone Cox" />
    <meta name="theme-color" content="#151718" />
    <link rel="apple-touch-icon" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>
  </head>
  <body class="bg-slateDark-1 font-body text-slateDark-12 text-lg lg:text-xl">
    <slot />
  </body>
</html>
